{% extends "html/base.html" %}

{% block nav %}
          <div class="nav-collapse">
            <ul class="nav">
              <li class="">
                <a href="./">Overview</a>
              </li>
              <li class="active">
                <a href="./browse">Browse Books</a>
              </li>
              <li class="">
                <a href="./sell">Sell Books</a>
              </li>
            </ul>
          </div>
{% endblock nav %}
          
{% block content %}

<div class="marketing">
  <center>
    <form class="form-search" action="./search" method="post">
      <input class="search-query" placeholder="isbn search" tabindex="1" type="text" maxlength="140" size="28" value="" name="search">
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </center>
  {% if search_text %}
  <h1>Search: {{search_text}}</h1> 
  {% else %}
  <h1>Books for sale:</h1>
  {% endif %}
  <div class="row">
    <div class="span8 offset2" id="books">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><h2>Title</h2></th>
            <th></th>
            <th><h2>Date</h2></th>
          </tr>
        </thead>
        <tbody>
          {% for book in books %}
          <tr>
            <td>
              <a href="./search?search={{ book.isbn }}">{{ book.title }}</a>
            </td>
            <td>
            <a href="{{ book.sellpage }}">sell this book</a>
            <td>
            {{ book.lastAdded }}
            </td>
          </tr>  
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div><!--/row-->
</div><!-- /.marketing -->

{% endblock content %}
