{% extends "html/base.html" %}

{% block nav %}
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active">
                <a href="./">Overview</a>
              </li>
              <li class="">
                <a href="./browse">Browse Books</a>
              </li>
              <li class="">
                <a href="./sell">Sell Books</a>
              </li>
            </ul>
          </div>
{% endblock nav %}

{% block content %}

<!-- Masthead ================================================== -->
<header class="jumbotron masthead">
  <div class="inner">
    <h1>We're QuickSell</h1>
    <p>A Fast and Local Book Bazzar.</p>
    <p class="download-info">
      <a href="./browse" class="btn btn-primary btn-large">Look for Books</a>
      <a href="./sell" class="btn btn-primary btn-large">Sell A Book</a>
    </p>
  </div>
</header>

<hr class="soften">

<div class="marketing">
  <h1>Keep it Local and Save Money.</h1>
  <p class="marketing-byline">Need reasons to QuickSell? Look no further.</p>
  <div class="row">
    <div class="span4">
      <img class="bs-icon" src="assets/img/glyphicons/glyphicons_042_group.png">
      <h2>No shipping required.</h2>
      <p>Like you, we're busy with school.  Don't waste time by having to prepare and ship your books.  Sell them locally and save time and hassle.</p>
    </div>
    <div class="span4">
      <img class="bs-icon" src="assets/img/glyphicons/glyphicons_079_podium.png">
      <h2>Simple and Easy</h2>
      <p>QuickSell is so easy to get started.  All you need is a Google account!</p>
    </div>
    <div class="span4">
      <img class="bs-icon" src="assets/img/glyphicons/glyphicons_163_iphone.png">
      <h2>Get alerts when your book is sold</h2>
      <p>Email alerts when your book is sold, how cool is that?</p>
    </div>
  </div><!--/row-->

</div><!-- /.marketing -->

{% endblock content %}
