{% extends "html/base.html" %}

{% block nav %}
          <div class="nav-collapse">
            <ul class="nav">
              <li class="">
                <a href="./">Overview</a>
              </li>
              <li class="">
                <a href="./browse">Browse Books</a>
              </li>
              <li class="">
                <a href="./sell">Sell Books</a>
              </li>
              <li class="active">
                <a href="./recentBook">Recently Sold</a>
              </li>
              <li class="">
                <a href="./user">Profile</a>
              </li>
              
            </ul>
          </div>
{% endblock nav %}
          
{% block content %}

<div class="marketing">
  <center>
    
  
  <h1>Recent Sales:</h1>
  <div class="row">
    <div class="span8 offset2" id="books">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><h2>Title</h2></th>
            <th></th>
            <th><h2>Price</h2></th>
            <th><h2>Date Sold</h2></th>
          </tr>
        </thead>
        <tbody>
          {% for book in books %}
            {%if book.sold_date!=None %}
          <tr>
            <td>
              <a href="./search?search={{ book.isbn }}">{{ book.title }}</a>
            </td>
            <td>
            <a href="{{ book.sellpage }}">sell this book</a>
           </td>
           <td>
            {{ book.price }}
            </td>
            <td>
            {{ book.sold_date }}
            </td>
          </tr>  
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div><!--/row-->
</div><!-- /.marketing -->

{% endblock content %}
