<!DOCTYPE html>
<html lang="en">
{% extends "html/base.html" %}

{% block extra_script %}
<script type="text/javascript">
$(document).ready(function(){
  $("#sellBook").validate({
    errorClass: "error",
    validClass: "success",
    errorElement: "span",
        highlight: function (element, errorClass, validClass) { 
  $(element).parents("div[class='clearfix']").addClass(errorClass).removeClass(validClass); 
        }, 
        unhighlight: function (element, errorClass, validClass) { 
            $(element).parents(".error").removeClass(errorClass).addClass(validClass); 
        }
  });
});
</script>
{% endblock %}

{% block nav %}
          <div class="nav-collapse">
            <ul class="nav">
              <li class="">
                <a href="./">Overview</a>
              </li>
              <li class="">
                <a href="./browse">Browse Books</a>
              </li>
              <li class="active">
                <a href="./sell">Sell Books</a>
              </li>
              <li class="">
                <a href="./recentBook">Recently Sold</a>
              </li>
              <li class="">
                <a href="./user">Profile</a>
              </li>
            </ul>
          </div>
{% endblock nav %}

{% block content %}

<div class="marketing">
 <h1>Give us some information:</h1>
  {% if badisbn %}
   <p>Sorry, that ISBN you entered wasn't valid.</p>
  {% endif %}
  <div class="row">
    <div class="span8 offset2">
      <form id="sellBook" class="well" action="/sellBook" method="post">  
        <label>ISBN</label>  
        <input name="isbn" type="text" class="span3 required" {% if isbn %} value={{ isbn }} {% else %} placeholder="ISBN" {% endif %}>   
        <label>Book Description</label>  
        <input for="ccomment" name="description" type="text" class="span3" {% if description%} value="{{description}}" {% else %} placeholder="Book Description" {% endif %}>
        <label>Price</label>  
        $<input name="price" type="text" class="span3 required"{% if price %} value={{ price }} {% else %} placeholder="Price" {% endif %}>
        <label>Condition</label>
        <select name="condition">
          <option>Poor</option>
          <option>Heavily Used</option>
          <option selected='selected'>Lightly Used</option>
          <option>Brand New</option>
        </select>
        <label>Email</label>  
        <input name="email" type="text" class="span3" readonly="true" placeholder="{{ email }}">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>  
      </form>
    </div>
  </div><!--/row-->
</div><!-- /.marketing -->

{% endblock content %}
