{% extends "html/base.html" %}

{% block nav %}
          <div class="nav-collapse">
            <ul class="nav">
              <li class="">
                <a href="./">Overview</a>
              </li>
              <li class="">
                <a href="./browse">Browse Books</a>
              </li>
              <li class="">
                <a href="./sell">Sell Books</a>
              </li>
              <li class="">
                <a href="./recentBook">Recently Sold</a>
              </li>
              <li class="active">
                <a href="./user">Profile</a>
              </li>
            </ul>
          </div>
{% endblock nav %}

{% block content %}

<!-- Masthead ================================================== -->
<div class="marketing">
  <center>
    <h3>Here are the books that you are currently selling:</h3>
  </center>
    <table class="table table-striped">
        <thead>
          <tr>
            <th><h2>Title</h2></th>
            <th><h2>ISBN</h2></th>
            <th><h2>Price</h2></th>
            <th><h2>Condition</h2></th>
            <th><h2>Edit</h2></th>
            <th><h2>Remove</h2></th>
          </tr>
        </thead>
        {% for user_book in user_books %}
        <tbody>
          <tr>
          	{%if user_book.sold_date==None %}
            <td>{{ user_book.unique.title }}</td>
            <td>{{ user_book.unique.isbn }}</td>
            <td>${{ user_book.price }}</td>
            <td>{{ user_book.condition }}</td>
            <td><a href="./edit?id={{user_book.key()}}">Edit</a></td>
            <td><a href="./remove?id={{user_book.key()}}">X</a></td>
            {%endif %}
            
          </tr>
        </tbody>
        {% endfor %}
      </table>
      <br/>
      <br/>
      <center><h3>Here are the books that you sold successfully:</h3></center>
    <table class="table table-striped">
        <thead>
          <tr>
            <th><h2>Title</h2></th>
            <th><h2>ISBN</h2></th>
            <th><h2>Price</h2></th>
            <th><h2>Condition</h2></th>
          </tr>
        </thead>
        {% for user_book in user_books %}
        <tbody>
          <tr>
          	{%if user_book.sold_date!=None %}
            <td>{{ user_book.unique.title }}</td>
            <td>{{ user_book.unique.isbn }}</td>
            <td>${{ user_book.price }}</td>
            <td>{{ user_book.condition }}</td>
            {%endif %}
            
          </tr>
        </tbody>
        {% endfor %}
      </table>
</div>
{% endblock content %}
